* {
    font-family: 'Playfair Display', serif;

}

body {
    background-color: whitesmoke;
    padding: 0
}

.title {
    font-size: 3em;
    color: black;
    margin-top: 10vh;
    text-align: center;
}

#enter {
    display: none;
}

#description {
    width: 50vw;
    margin: auto;
    font-size: 1.5em;
}

#button-box {
    margin-top: 10vh;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    
}

#button-box button {
    display: flexbox;
    border: 0.3vh solid black;
    background-color: whitesmoke;
    width: 10vw;
    height: 10vh;
}
#textarea{
    display: flex;
    justify-content: center;
    
}
#write {
    font-size: 1em;
    resize: none;
    border: 0.4vh solid black;
    background-color: white;
    display: none;
}   

#button-box button:hover{
    color: white;
    background-color: black;
    border: 0.3vh solid white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#enter:hover {
    color: white;
    background-color: black;
    border: 0.3vh solid white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#cfs{
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    width: 60vw;
    word-wrap: break-word;
    transition: color 1s ease ;
}

